.body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

h3 {
    margin-bottom: 2rem;
}

.content {
    width: 40px;
    margin: 0 auto;
}

canvas {
    max-width: 100%;
}
